.main-heading{
    color:black;
    width:100%;
    min-height: 55vh;
    background-image: url('../../assets/main-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-heading h1{
    text-align: center;
    font-size: 3.5em;
    font-weight: 400;
}

.main-heading p{
    padding:0;
    margin:0;
    width:50%;
    color: #3C3C3C;
    font-size: 1.3rem;
    text-align: center;
}
.sign-up{
    background-color: #F1F3F4;
    width:100%;
    min-height: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sign-up button{
    background-color: #1A73E8;
    color: white;
    
    font-size:1rem;
    margin:2px;
    padding:8px 11px 8px 11px;
    border-radius: 5px;
}
@media (max-width:600px){
    .main-heading{
     background:
    url('../../assets/main-back.png') top left,
    url('../../assets/main-back.png') top right,
    url('../../assets/main-back.png') bottom left,
    url('../../assets/main-back.png') bottom right,
        white;


    }

    .main-heading h1{
        width:90%;
        font-size: 3.5rem;
    }
    .main-heading p{
        width: 70%;
        font-size: 1.8rem;
    }
    .sign-up{
        min-height:  6rem;
    }
    .sign-up button{
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
.main-heading {
  background:
    url('../../assets/main-back.png') 0% 0% / 200% 200% no-repeat,
    url('../../assets/main-back.png') 100% 0% / 200% 200% no-repeat,
    url('../../assets/main-back.png') 0% 100% / 200% 200% no-repeat,
    url('../../assets/main-back.png') 100% 100% / 200% 200% no-repeat,
    white;
    }
}

