.event-heading h2{
    color:black;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

.event-heading p:nth-child(2) {
  color: #3C3C3C;
  text-align: center;
  font-size: 1.1rem;
}

.events{
    background-color: #F1F3F4;
    width:100%;
    
    display:flex;
    align-items: center;
    flex-direction: column;
    
}

.event-grid{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: row;
    width:90%;
    gap:10%;
}

.event-poster{
    display:flex;
    flex-direction: column;
    width:20%;
    padding:0.5rem;
    background-color: white;
    border:1px solid #000000;
    
}

#event-desc{
    color: black;
    padding:2rem;
    font-size: 1.5rem;
    width: 90%;
    margin-left:2rem;
    text-align: left;
    
}

.event-poster img{
    width :100%;
    height: auto;
    max-height: 250px;
    border-bottom: 1px solid #000000;
}
#desc{
    color: black;
    height: auto;
    width:90%;
    max-height:100px;
    overflow: hidden;
}

.event-buttons{
    
    width:100%;
    display:flex;
    flex-direction: row;
    gap:2%;
}

#more{
    background-color:#F1F3F4;
    padding:0.8rem;
    border-radius: 0.5rem;
    flex:1;
}

#reg{
    background-color: #1A73E8;
    padding:0.8rem;
    border-radius: 0.5rem;
    color:white;
    flex:1;
    
}
