.event-heading h2{
    color:black;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

.event-heading p:nth-child(2) {
  color: #3C3C3C;
  text-align: center;
  font-size: 1.1rem;
}

.events{
    background-color: #F1F3F4;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom:4rem;
}
.event-grid{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    width:90%;
    gap:10%;
}

.event-poster{
    display: flex;
    flex-direction: column;
    width:20%;
    height: 100%;
    padding:0.5rem;
    background-color: white;
    border:1px solid #000000; 
}

.event-poster img {
  width: 100%;
  height: 220px;       
  object-fit: cover;   
  border-radius: 12px 12px 0 0;
}

#event-desc{
    color: black;
    padding:2rem;
    font-size: 1.5rem;
    width: 90%;
    margin-left:2rem;
    text-align: left;
    padding-left:3rem;
}

.event-poster img{
    width :100%;
    height: auto;
    max-height: 250px;
    border-bottom: 1px solid #000000;
}

.event-content {
  flex: 1;                 
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#desc{
    color: black;
    height: auto;
    width:90%;
    max-height:100px;
    overflow: hidden;
}

.event-buttons{
    padding:2%;
    margin-top:auto;
}

.event-buttons button{
    margin-right: 3%;
}



#more{
    background-color:#F1F3F4;
    padding:0.8rem;
    border-radius: 0.5rem;
    flex:1;
}

#reg{
    background-color: #1A73E8;
    padding:0.8rem;
    border-radius: 0.5rem;
    color:white;
    flex:1;
    
}


@media (max-width:600px){

    .event-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3%;
        width:80%;
    }

    .event-poster{
        width:80%;
        margin-top:3%;
    }
}