.event-heading h2{
    color:black;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

.event-heading p:nth-child(2) {
  color: #3C3C3C;
  text-align: center;
  font-size: 1.1rem;
}

.events{
    background-color: #F1F3F4;
    width:100%;
    height: 100VH;
}
