header p{
    color:black;
}
#just{
    color: black;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    height: 2rem;
    border-bottom:3px solid #C8C8C8;
    font-size: 1rem;
}

.nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
}
.nav-bar button{
    font-family: "poppins";
}
header img{
    width:auto;
    height:50px;
    
}
.logo-head{
    display:flex;
    align-items: center;
    flex-direction: row;
    gap:2%;
}

button{
    background-color: transparent;
    border:none;
    color: black;
    font-size: 1.1rem;
}

@media (max-width:600px){
    html{
        font-size:0.45rem;
    }

    header{
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-bottom:1px solid #C8C8C8;
        font-size: 1.2rem;
        min-height: 1.5rem;
    }

    header img{
        height: 25px;
    }
    button{
        font-size: 1.2rem;
    }

}
 
