header p{
    color:black;
}
#just{
    color: black;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    height: 2rem;
    border-bottom:3px solid #C8C8C8;
    font-size: 1rem;
}

.nav-bar{
    width:40%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    width:auto;
    height:50px;
    
}
.logo-head{
    display:flex;
    align-items: center;
    flex-direction: row;
    gap:2%;
}

button{
    background-color: transparent;
    border:none;
    color: black;
    font-size: 1.1rem;
}

@media (max-width:600px){
    html{
        font-size:0.45rem;
    }
}
 
